@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

a {
  text-decoration: none;
}

.Body-Footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.Header {
  &-Navbar {
    background-color: #D2D2D2;
  }
}

.Main {
  min-height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Form {
  max-width: 400px;

  &__wide {
    max-width: 800px;
  }
}