<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Tracker App</title>

    <link rel="stylesheet" type="text/css" href="./styles/dist/main.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-light">
    <div class="Body-Wrapper">
      <header class="Header">
        <nav class="Header-Navbar navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a href="#" class="navbar-brand">Health Tracker App</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarToggler"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Marathon</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Stats</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Friends</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Settings</a>
                </li>
              </ul>
              <div class="text-end">
                <button class="btn btn-dark" type="button">Add a marathon</button>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <main role="main" class="Main container bg-white px-4">
        <div class="mb-3">
          <h1 class="display-4 text-center">Edit marathon</h1>
        </div>

        <div class="Form Form__wide mx-auto px-5">
          <form action="#" class="row" method="POST">
            <div class="col-md-12 mb-3">
              <label for="marathonName" class="form-label">Title</label>
              <input type="text" name="title" id="marathonName" class="form-control" value="Title" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" name="start_date" id="startDate" class="form-control" value="2021-04-26" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="goal" class="form-label">Steps Goal</label>
              <input type="number" name="goal" id="goal" class="form-control" value="10000" />
            </div>
            <div class="col-md-12 text-end">
              <button type="submit" class="btn btn-primary mb-3">Update Marathon</button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <footer class="Body-Footer bg-light">
      <div class="container my-3 text-end text-secondary">
        <span>&copy; 2021 Artjoms Travkovs & Alina Voronko</span>
      </div>
    </footer>
  </body>
</html>
