@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

/*color scheme*/
:root{
--main-bg-light: #fbe8a6;
--main-bg-medium: #f4976c;
--main-bg-dark: #303c6c;
--aux-outline: #b4dfe5;
--aux-body: #d2fdff;


}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

a {
  text-decoration: none;
}

.Body-Footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


.Chart {
  position: relative;
  width: 400px;
  height: 250px;
}

.DashboardSection {
  border-bottom: 1px solid $gray-400;
  padding-bottom: 2rem;

  &:last-child {
    border-bottom: 0;
  }
}

.Form {
  max-width: 400px;

  &__wide {
    max-width: 800px;
  }
}

.Header {
  &-Navbar {
    background-color: #D2D2D2;
  }
}

.Main {
  min-height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.SeparateLine {
  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.Welcome {
  &-Avatar {
    width: 5rem;
    height: 5rem;
  }
}
